<a href="https://colab.research.google.com/github/SUAHJO/lab0---UserId/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##3 Dictionaries

In [ ]:
# {key : value}
# As python 3.7, dictionaries are ordered. In Python 3.6, dictionaries are unordered.

d = {'key1' : 'item1', 'key2': 'item2'}

In [ ]:
print(d)

{'key1': 'item1', 'key2': 'item2'}

In [ ]:
d['key1']

'item1'

In [ ]:
d.keys()

dict_keys(['key1', 'key2'])

In [ ]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [ ]:
temp_dict = {'Suwon': 26,'Incheon': 24,'Seoul':25}

In [ ]:
print("Temperature for Incheon:", temp_dict['Incheon'] )

Temperature for Incheon: 24

In [ ]:
#update values
temp_dict['Suwon'] = 25
print(temp_dict)

{'Suwon': 25, 'Incheon': 24, 'Seoul': 25}

In [ ]:
#loop through a dictionary
for e in temp_dict:
  print('key:',e,'value:',temp_dict[e])

key: Suwon value: 25
key: Incheon value: 24
key: Seoul value: 25

In [ ]:
#Adding items
car = {
    'brand': 'Ford',
    'model': 'Mustang',
    'year' : 1964
}

In [ ]:
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
car['color'] = 'red'
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
car.pop('color')

'red'

In [ ]:
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
mycars = {
    'car1' : {
        'brand': 'Ford',
        'model': 'Mustang',
        'year' : 1964
    },
    'car2' : {
        'brand': 'Porche',
        'model': 'Carrera GT',
        'year' : 2021
    }
}

In [ ]:
print(mycars)

{'car1': {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}, 'car2': {'brand': 'Porche', 'model': 'Carrera GT', 'year': 2021}}

In [ ]:
#Change the year value from 1964 to 2021

car = {
    'brand': 'Ford',
    'model' : 'Mustang',
    'year' : 1964
}

In [ ]:
car['year'] = 2021

In [ ]:
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2021}

### Comparison Operators

In [ ]:
1 < 2

True

In [ ]:
1 > 2

False

In [ ]:
3 > 1

True

In [ ]:
1 > 1

False

In [ ]:
1 >= 1

True

In [ ]:
1 <= 4

True

In [ ]:
1 == 1

True

In [ ]:
2 == 5

False

In [ ]:
1 != 1

False

In [ ]:
4 != 12

True

In [ ]:
'hi' == 'hi'

True

In [ ]:
'hi' == 'bye'

False

In [ ]:
# 대문자와 소문자는 다름
'hi' == 'HI'

False

### Logic Operators

In [ ]:
( 1 > 2 ) or ( 2 < 3 )

True

In [ ]:
( 1 > 2 ) and ( 2 < 3 )

False

In [ ]:
( 2 == 2 ) and (2 != 5)

True

In [ ]:
(1 != 4) or (3 >= 10)

True

In [ ]:
(1 == 2) or (4 == 4)

True

In [ ]:
#False or true 는 true
(1 == 1) and (3 > 3) or (2 != 7)

True

In [ ]:
#False and true 는 false (and는 둘다 같아야만 true)
(1 != 1) and ((3 > 3) or (2 != 7))

False

In [ ]:
print(not 1 == 1)
print(not 1 != 2)
print(not 2 == 1)

False
False
True

###if, elif, else statement

In [ ]:
if 1 < 2:
  print('yeah!')

yeah!

In [ ]:
if 1 > 2:
  print('yeah!')

In [ ]:
if 1 < 2:
  print('first')
else: 
  print('last')
print('hello')

first
hello

In [ ]:
if 1 < 2:
  print('first')
else: 
  print('last')
  print('hello')

first

In [ ]:
if 1 > 2:
  print('first')
else:
  print('last')

last

In [ ]:
#elif = 두번째 if
#else = 그 외 나머지
if (1 == 2):
  print('first')
elif (3 == 3):
  print('middle')
else:
  print('last')

middle

In [ ]:
#write a program that has a variable called temperature and prints "its a nice weather"
#if temperature is between 15 to 24 degrees.
temperature = 24

In [ ]:
temperature >= 15,
temperature <= 24

if (temperature > 15):
  print("its a nice weather")
  elif (temperature) < 24)
  print("its a nice weather")

SyntaxError: ignored

In [ ]:
temperature = 24
if ( 15<= temperature <= 24):
  print("Its a nice weather")

its a nice weather

###For Loops

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
for i in seq:
  print(i)
print('Goodbye')
print('hello')

1
2
3
4
5
Goodbye
hello

In [ ]:
for i in seq:
  print(i)

  print('Goodbye')
  print('hello')

1
Goodbye
hello
2
Goodbye
hello
3
Goodbye
hello
4
Goodbye
hello
5
Goodbye
hello

In [ ]:
for i in seq:
  print('yeah!')

yeah!
yeah!
yeah!
yeah!
yeah!

In [ ]:
for j in seq:
  print(j+j)

2
4
6
8
10

In [ ]:
#nested Loops
#seq = [1,2,3,4,5]
for i in seq: #"outer Loop"
  print("outer Loop")
  for j in seq: #"inner Loop" 
   print("i = {}, seq_index = {} -- j = {}, seq_index = {}".format(i,seq.index(i),j,seq.index(j)))

print('end')

outer Loop
i = 1, seq_index = 0 -- j = 1, seq_index = 0
i = 1, seq_index = 0 -- j = 2, seq_index = 1
i = 1, seq_index = 0 -- j = 3, seq_index = 2
i = 1, seq_index = 0 -- j = 4, seq_index = 3
i = 1, seq_index = 0 -- j = 5, seq_index = 4
outer Loop
i = 2, seq_index = 1 -- j = 1, seq_index = 0
i = 2, seq_index = 1 -- j = 2, seq_index = 1
i = 2, seq_index = 1 -- j = 3, seq_index = 2
i = 2, seq_index = 1 -- j = 4, seq_index = 3
i = 2, seq_index = 1 -- j = 5, seq_index = 4
outer Loop
i = 3, seq_index = 2 -- j = 1, seq_index = 0
i = 3, seq_index = 2 -- j = 2, seq_index = 1
i = 3, seq_index = 2 -- j = 3, seq_index = 2
i = 3, seq_index = 2 -- j = 4, seq_index = 3
i = 3, seq_index = 2 -- j = 5, seq_index = 4
outer Loop
i = 4, seq_index = 3 -- j = 1, seq_index = 0
i = 4, seq_index = 3 -- j = 2, seq_index = 1
i = 4, seq_index = 3 -- j = 3, seq_index = 2
i = 4, seq_index = 3 -- j = 4, seq_index = 3
i = 4, seq_index = 3 -- j = 5, seq_index = 4
outer Loop
i = 5, seq_index = 4 -- j = 1, seq_index = 0
i = 5, seq_index = 4 -- j = 2, seq_index = 1
i = 5, seq_index = 4 -- j = 3, seq_index = 2
i = 5, seq_index = 4 -- j = 4, seq_index = 3
i = 5, seq_index = 4 -- j = 5, seq_index = 4
end

In [ ]:
#Print each item of the following list: ['Temperature', 'Wind_speed','Humidity','is Cloudy']

In [ ]:
for i in seq: #"outer Loop"
  print("outer Loop")
  for j in seq: #"inner Loop" 
   print("i = {}, seq_index = {} -- j = {}, seq_index = {}".format(i,seq.index(i),j,seq.index(j)))

print('end')

In [ ]:
['Temperature', 'Wind_speed','Humidity','is Cloudy']

['Temperature', 'Wind_speed', 'Humidity', 'is Cloudy']

In [ ]:
for i in ['Temperature', 'Wind_speed', 'Humidity', 'is_Cloudy']:
  print(i)

Temperature
Wind_speed
Humidity
is_Cloudy

In [ ]:
#break
fruits = ['apple', 'banana', 'cherry']

In [ ]:
for f in fruits:
  print(f)
  if f == 'banana':
    break

apple
banana

In [ ]:
for f in fruits:
  if (f == 'banana'):
    break
  print(f)

apple

In [ ]:
#continue

for f in fruits:
  if (f == 'banana'):
    continue
  print(f)

apple
cherry

In [ ]:
#ex2) print each adjective for every fruit

adj = ['red', 'big', 'tasty']
fruits = ['apple', 'grape', 'strawberry']

In [ ]:
adj = ['red', 'big', 'tasty']
fruits = ['apple', 'grape', 'strawberry']

for i in adj:
 for j in fruits:
   print(i,j)

red apple
red grape
red strawberry
big apple
big grape
big strawberry
tasty apple
tasty grape
tasty strawberry

In [ ]:
#ex1) print each item of the following list ['temperate','humiddity','cloudy']

In [ ]:
for i in ['temperate','humiddity','cloudy']:
 print(i)

temperate
humiddity
cloudy

### while loops

In [ ]:
#sintax

  # while (expression):
   # Body of while

In [ ]:
# print numbers from 1 to 4
i = 1
while (i < 5): #(i <= 4)
  print('i is: {}'.format(i))
  i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [ ]:
# program that add natural numbers up to n = 5
# sum = 1 + 2 + 3 + 4 + 5
# use while loop

sum = 0
i = 1
n = 5

while ( i <= n ):
  sum = sum + i 
  i = i + 1

  print('the value of variable sum is:', sum)

the value of variable sum is: 1
the value of variable sum is: 3
the value of variable sum is: 6
the value of variable sum is: 10
the value of variable sum is: 15

In [ ]:

sum = 0
i = 1
n = 5

while ( i <= n ):
  sum = sum + i 
  i = i + 1

print('the value of variable sum is:', sum)

the value of variable sum is: 15

In [ ]:
i = 0
while i < 5:
  print('inside of the while loop',i)
  i=i+1

print('outside of the while loop')

inside of the while loop 0
inside of the while loop 1
inside of the while loop 2
inside of the while loop 3
inside of the while loop 4
outside of the while loop

In [ ]:
i = 0
while i < 5:
  print('inside of the while loop',i)
  i=i+1

print('outside of the while loop')

inside of the while loop 0
inside of the while loop 1
inside of the while loop 2
inside of the while loop 3
inside of the while loop 4
outside of the while loop

In [ ]:
# ex3)- 내 답 print i as long as i is less than 6 using while statement
i = 0
while i < 5:
 i = i+1

 print(i)

1
2
3
4
5

In [ ]:
# ex3)-교수님 답 print i as long as i is less than 6 using while statement
i = 0
while i < 6:
 print(i)
 i = i+1

0
1
2
3
4
5

In [ ]:
# continue, break
# not to print the value of 3

i = 0
while i < 6: 
  if (i == 3):
   i = i+1 
   break
  print('the value of i is:',i)
  i = i+1

the value of i is: 0
the value of i is: 1
the value of i is: 2

In [ ]:
# not to print the value of 3

i = 0
while i < 6: 
  if (i != 3):
   print('the value of i is:',i)
  i = i+1

the value of i is: 0
the value of i is: 1
the value of i is: 2
the value of i is: 4
the value of i is: 5

###range()

In [ ]:
# sintax

range(5)

range(0, 5)

In [ ]:
for i in range(5): #[0,1,2,3,4]
  print(i)

0
1
2
3
4

In [ ]:
#start number
for i in range(2,6): #[2,3,4,5]
 print(i)

2
3
4
5

In [ ]:
#different increment
for i in range(2,30,3): #(시작,도달,더하는 수)
 print(i)

2
5
8
11
14
17
20
23
26
29

In [ ]:
#ex4) print all the numbers from 2 to 20 by incrementing 2
# using range function

In [ ]:
for i in range(2,21,2): #20까지니까 끝자리수는 n+1인 21을 적어야 한다.
 print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

###Functions

In [ ]:
#1 term "parameter" the variable inside of the parentesis in the function definition
# 함수 정의에서 모계 내부의 변수 "매개변수"
#2nd term "argument" is the value that is sent to the function when it is called.
# 2번째 항은 함수 호출 시 전송되는 값.

In [ ]:
#sintax
def my_func(param1 ='default'): #param1 is a parameter
  print(param1)

In [ ]:
my_func

In [ ]:
my_func()

default

In [ ]:
my_func('new argument') #this is an argument

new argument

In [ ]:
my_func('Hello world!')

Hello world!

In [ ]:
# write a function that returns the square of a number 수의 제곱을 반환하는 함수
def square(n = 1):
  return n **2

In [ ]:
square() #빈칸은 1

1

In [ ]:
square(2)

4

In [ ]:
var_out = square(4)

In [ ]:
print(var_out)

16

In [ ]:
# ex) create the function square_root for positive integers

In [ ]:
#내가
def square(n = 1):
  return n **2
  square_root = square()

In [ ]:
#교수님이
def square_root(n):
   return n ** (1/2) #루트

In [ ]:
square_root(16)

4.0

In [ ]:
square_root(50)

7.0710678118654755

In [ ]:
#ex iterate through a string using  a for loop,
# transform the string into a list, each letter is an elment of he new list.
#for 루프를 사용하여 문자열을 반복하고 문자열을 목록으로 변환,각각의 문자는 새로운 리스트의 결과
# create a function str_list();

In [ ]:
#-내가 for i in range()
 # def function str_list(i):

In [ ]:
#-교수님

def str_list(param1 = 'hola'):
 lst_letters = []
 for letter in 'param1': #['h','o','l','a']
  lst_letters.append(letter)
 return lst_letters

In [ ]:
str_list('Programing language')

['p', 'a', 'r', 'a', 'm', '1']

In [ ]:
str_list('hello')

['p', 'a', 'r', 'a', 'm', '1']

In [ ]:
#ex) based on fruit list, you want a new list new_fruits,
# it will only contain the fruits with the letter 'a' in the name.
# 과일 목록을 기준으로 새 목록을 원하는 경우 'a'자가 있는 과일만 담기
# you have to create the function a_fruits().

fruits = ['apple','banana', 'mango', 'strawberry', 'cherry', 'kiwi', 'coco']

In [ ]:
# - 내가 fruits = ["apple","banana", "mango", "strawberry", "cherry", "kiwi", "coco"]
# def a_fruits(select(contains "a"):

In [ ]:
# -교수님
def a_fruits(x):
 new_fruits = []
 for i in fruits:
   if 'a' in i:
     new_fruits.append(i)
 return new_fruits

In [ ]:
a_fruits(fruits)

['apple', 'banana', 'mango', 'strawberry']

### Numpy

In [ ]:
#conda install numpy
#pip install numpy

In [ ]:
import numpy as np

### creating a numpy array

In [ ]:
# 0-dim array
arr = np.array(42)
print(arr)
type(arr)

42

numpy.ndarray

In [ ]:
# from list to array

my_list = [1,2,3]
print(my_list)

[1, 2, 3]

In [ ]:
# 1-D array
np.array(my_list)

array([1, 2, 3])

In [ ]:
# 2 - D arrays
my_matrix = [[1,2,3],[4,5,6],[7,8,9]]
print(my_matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
np.array(my_matrix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
# Ex1) create a 3-D array with 2-D arrays, both contain two arrays wuith the value 1,2,3 and 4,5,6:
#2차원 배열로 3차원 배열을 생성하며, 둘 다 값이 1,2,3 및 4,5,6인 2개의 배열을 포함합니다.
import numpy as np
lst = [[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]]
arr = np.array(lst)
print(lst)

([[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]])

In [ ]:
# EX2) create a tuple from 1 to 10 and convert it to a numpy array:.
#1부터 10까지의 튜플을 만들고 그것을 numpy 배열로 변환한다
t= (1,2,3,4,5,6,7,8,9,10)
arr = np.array(t)
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

###Built

###arange()

In [ ]:
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
np.arange(0,11,2)

array([ 0,  2,  4,  6,  8, 10])

In [ ]:
np.arange(1,15)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [ ]:
np.arange(20) #0,...,19

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [ ]:
np.arange(5, 100, 5)

array([ 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85,
       90, 95])

In [ ]:
np.arange(5, 101, 5) #100까지 구하고 싶다면 100+1값을 입력해주어야 함 - arrange일때만

array([  5,  10,  15,  20,  25,  30,  35,  40,  45,  50,  55,  60,  65,
        70,  75,  80,  85,  90,  95, 100])

### zeros and ones

In [ ]:
np.zeros(3)

array([0., 0., 0.])

In [ ]:
np.zeros(100)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [ ]:
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [ ]:
np.zeros((2,5)) #열, 행 순서

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [ ]:
np.ones(3)

array([1., 1., 1.])

In [ ]:
np.ones(100)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [ ]:
np.ones((100,100))

array([[1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.],
       ...,
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.]])

In [ ]:
np.ones((4,8))

array([[1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1.]])

In [ ]:
#ex1) import numpy and give a nickname of np
#ex1) numpy를 가져오고 닉네임을 np로 붙인다.
import numpy as np

In [ ]:
#ex2) create an array of 25 zeros
#ex2) 25개의 0 배열 생성
np.zeros(25)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0.])

In [ ]:
#ex3) create an array of 25 ones
#ex3) 25개의 ones 배열 생성
np.ones(25)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1.])

In [ ]:
#ex4) create an array of 25 fives
#ex4) 25개의 파이브 배열 생성
np.ones(25)*5

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5.,
       5., 5., 5., 5., 5., 5., 5., 5.])

In [ ]:
#ex5) create an array of integers from 25 to 50
#ex5) 25에서 50까지의 정수 배열 생성
np.arange(25,51)

array([25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41,
       42, 43, 44, 45, 46, 47, 48, 49, 50])

In [ ]:
#ex5) create an array of even integers from  10 to 50
#ex5) 짝수 10에서 50 사이의 정수 배열 생성
np.arange(10,51,2)

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

### linspace()

In [ ]:
np.linspace(0, 10, 3) #0부터 10까지 3등분

array([ 0.,  5., 10.])

In [ ]:
np.linspace(0, 10, 4)  #0부터 10까지 4등분

array([ 0.        ,  3.33333333,  6.66666667, 10.        ])

In [ ]:
np.linspace(0, 10, 5) #0부터 10까지 5등분

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [ ]:
np.linspace(0, 10, 50) #0부터 10까지 50등분

array([ 0.        ,  0.20408163,  0.40816327,  0.6122449 ,  0.81632653,
        1.02040816,  1.2244898 ,  1.42857143,  1.63265306,  1.83673469,
        2.04081633,  2.24489796,  2.44897959,  2.65306122,  2.85714286,
        3.06122449,  3.26530612,  3.46938776,  3.67346939,  3.87755102,
        4.08163265,  4.28571429,  4.48979592,  4.69387755,  4.89795918,
        5.10204082,  5.30612245,  5.51020408,  5.71428571,  5.91836735,
        6.12244898,  6.32653061,  6.53061224,  6.73469388,  6.93877551,
        7.14285714,  7.34693878,  7.55102041,  7.75510204,  7.95918367,
        8.16326531,  8.36734694,  8.57142857,  8.7755102 ,  8.97959184,
        9.18367347,  9.3877551 ,  9.59183673,  9.79591837, 10.        ])

In [ ]:
np.linspace(0, 10, 10) #0부터 10까지 10등분

array([ 0.        ,  1.11111111,  2.22222222,  3.33333333,  4.44444444,
        5.55555556,  6.66666667,  7.77777778,  8.88888889, 10.        ])

In [ ]:
np.linspace(0, 10, 11) #0부터 10까지 11등분

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

### eye()

In [ ]:
# identity matrix (단위행렬)
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [ ]:
np.eye(10)

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

###Random

####rand()

In [ ]:
#uniform distribution [0,1)

np.random.rand(2)

array([0.22951581, 0.8994773 ])

In [ ]:
np.random.rand(5,5)

array([[0.70427222, 0.5294113 , 0.11067425, 0.19581234, 0.32988559],
       [0.46417753, 0.27879684, 0.14969445, 0.97879484, 0.34491373],
       [0.02333259, 0.24614717, 0.65800572, 0.82544587, 0.9844671 ],
       [0.74042702, 0.43990927, 0.16560841, 0.30236031, 0.79000606],
       [0.41545249, 0.59805367, 0.60639651, 0.00764618, 0.96557489]])

In [ ]:
np.random.rand(3,5)

array([[0.42287823, 0.96805513, 0.41815378, 0.08518527, 0.83826078],
       [0.85024269, 0.12192479, 0.0632438 , 0.23330387, 0.35908584],
       [0.08150059, 0.76975532, 0.84496229, 0.74847731, 0.62096832]])

#### randn() 정규분포

In [ ]:
np.random.randn(3)

array([ 2.17719205,  0.55334153, -0.39044486])

In [ ]:
#matrix 5,5
np.random.randn(5,5)

array([[-0.49881626,  0.91409597,  1.49377437,  0.72298481, -1.16275473],
       [ 1.10866733,  1.03565442, -0.56743493,  0.38422297, -0.82862319],
       [ 0.86489871,  0.15092512, -0.99162396, -0.62905997, -0.95841478],
       [ 0.30483198, -0.61863533,  2.32737589,  0.85090328, -1.35088101],
       [ 0.75880777, -0.29665133,  0.17400265, -0.8252752 ,  0.85080992]])

In [ ]:
np.random.randn(10,5)

array([[ 0.01397076, -1.25336079,  0.03782136, -0.91779904,  1.61467564],
       [ 0.03408844,  0.27495745, -0.27772898, -1.89699447,  0.1998841 ],
       [ 1.64448017,  1.43958461, -1.28068338, -1.25307329, -0.12109722],
       [ 0.60919975,  0.64947877, -0.85016011, -1.89926771,  0.44191615],
       [ 1.43658501,  0.43095285, -0.23220489, -0.30498369,  0.44602486],
       [-1.3220098 , -0.93533102,  0.11612266,  1.06841162,  1.74477093],
       [-0.95163346,  1.94443217, -1.33540524,  0.77437219,  1.58977668],
       [ 0.65512935,  1.15076878, -0.84420991,  0.24956744, -0.05817177],
       [-0.47543525,  1.74482691,  1.44724318,  0.66919781,  0.25026668],
       [-0.33056442, -1.555802  ,  0.65428218, -0.32465167, -1.42998257]])

#### randint()

In [ ]:
np.random.randint(0,10) #[0,10)중 랜덤으로 뽑음

8

In [ ]:
np.random.randint(1,100, 10)

array([96, 69, 50, 19, 79, 33, 83, 80, 93, 79])

## Array Attributes and Methods

In [ ]:
arr = np.arange(25)

In [ ]:
print(arr)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24]

In [ ]:
ranarr =np.random.randint(0, 50, 10)
print(ranarr)

[13 32 38 18 19 29 19 16 25 48]

### Reshape()

In [ ]:
arr.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [ ]:
grid = np.arange(1,10).reshape((3,3))
print(grid)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [ ]:
#ex7) create a 3x3 matrix with values ranging from 0 to 8
#ex7) 0에서 8 사이의 값을 가진 3x3 행렬 생성
arr = np.arange(9)
arr.reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [ ]:
#teacher
np.arange(9).reshape((3,3))

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [ ]:
#ex8) create a 5x5 identity matrix 
#ex8) 5x5 ID 매트릭스 생성
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [ ]:
#ex9) use numpy to generate a random number between 0 and 1
#ex9) 0에서 1 사이의 난수를 생성하기 위해 numpy를 사용한다.
# x!! np.random.randint(0,1)
np.random.rand(1)

array([0.4900785])

In [ ]:
#ex10)use numpy to generate an array of 100 random numbers, sampled from a standard normal distribution
#ex10)numpy를 사용하여 표준 정규 분포에서 추출한 100개의 난수 배열을 생성합니다
np.random.randn(100)

array([-5.82221678e-01, -1.36855479e+00, -3.00702758e-01,  2.49784031e+00,
        1.38744765e+00,  8.97285088e-01,  3.76802760e-01,  1.27378833e-01,
       -1.15494398e+00,  4.32828968e-01, -6.68463584e-02, -3.20104423e-01,
        1.43345772e+00, -9.67129306e-01, -4.46918937e-01,  3.72995263e-02,
        2.51177744e-01,  6.45379782e-01, -1.59053500e-01,  1.29706361e+00,
        6.77244901e-01, -3.13983469e-01,  7.16769095e-01, -7.58372319e-02,
       -1.80747587e-02, -1.42354306e+00, -6.13919125e-01,  6.15387657e-01,
        1.62615533e+00,  1.38884855e+00,  1.43428853e+00, -8.09994870e-01,
        3.79104627e-01, -9.13341697e-02,  1.43133757e+00,  8.33102509e-01,
        9.06819453e-01,  1.00936435e+00,  4.07665310e-01, -1.68386679e+00,
       -1.60282288e-01,  1.27844559e+00, -1.23342111e+00,  1.97565128e+00,
       -1.27381917e-03, -1.29946300e+00,  6.92080318e-01,  1.61490808e-01,
        5.14158188e-01, -1.34659832e+00,  2.47811447e-01,  3.50660974e-01,
        5.30718837e-01, -1.98519401e+00, -5.77577040e-01, -7.71750592e-01,
       -1.29165351e+00,  1.29287245e+00,  3.44408637e-01, -1.58512596e+00,
        1.21821054e+00, -9.54417723e-02,  1.06886621e-03, -1.08406453e+00,
       -1.72747196e+00,  6.03734023e-01, -1.22321168e+00,  3.05855631e-01,
        1.52123586e-01, -5.00546393e-01,  1.11188185e+00,  9.45852283e-01,
        4.39053084e-01, -6.04011741e-01, -7.60576934e-01, -1.07612383e+00,
        5.28018822e-01,  9.93072493e-01,  1.04387652e+00, -9.40432352e-01,
        1.37915751e+00,  2.08890935e-01, -7.48604913e-01, -4.92318027e-03,
        1.15035388e+00,  6.56606159e-01,  9.96022689e-01,  2.03135720e+00,
       -9.74358427e-02, -4.25454218e-01,  1.26653718e-01, -1.98845847e-01,
        2.00992187e+00, -9.82702546e-02,  7.96053156e-01,  1.64428899e-01,
        8.02356352e-01, -1.43863745e-01, -3.19967375e-01, -4.39264026e-01])

In [ ]:
#ex11) create an array of 25 linearly spaced numbers between 0 and 1
#ex11) 0과 1 사이의 선형 간격 숫자 25개 배열 생성
np.linspace(0, 1, 25)

array([0.        , 0.04166667, 0.08333333, 0.125     , 0.16666667,
       0.20833333, 0.25      , 0.29166667, 0.33333333, 0.375     ,
       0.41666667, 0.45833333, 0.5       , 0.54166667, 0.58333333,
       0.625     , 0.66666667, 0.70833333, 0.75      , 0.79166667,
       0.83333333, 0.875     , 0.91666667, 0.95833333, 1.        ])

### max and min methods

In [ ]:
ranarr

array([13, 32, 38, 18, 19, 29, 19, 16, 25, 48])

In [ ]:
ranarr.max()

48

In [ ]:
ranarr.argmax()

9

In [ ]:
ranarr.min()

13

In [ ]:
ranarr.argmin()

0

### shape

In [ ]:
import numpy as np

In [ ]:
arr = np.arange(25)

In [ ]:
arr.shape

(25,)

In [ ]:
print(arr)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24]

In [ ]:
#2d array
arr.reshape(1,25)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24]])

In [ ]:
arr.reshape(1,25).shape

(1, 25)

In [ ]:
arr.reshape(25,1)

array([[ 0],
       [ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12],
       [13],
       [14],
       [15],
       [16],
       [17],
       [18],
       [19],
       [20],
       [21],
       [22],
       [23],
       [24]])

In [ ]:
arr.reshape(25,1).shape #25행1열

(25, 1)

In [ ]:
arr.reshape(1,25).shape[1]

25

### dtype

In [ ]:
arr.dtype #데이터타입 알려줌

dtype('int64')

## Numpy Indexing and Selection

In [ ]:
arr = np.arange(0,11)

In [ ]:
print(arr)

[ 0  1  2  3  4  5  6  7  8  9 10]

### Bracket indexing and selection

In [ ]:
arr[8]

8

In [ ]:
#Get values in range [start_index : end_index+1] 값 가져오기
arr[1:5]

array([1, 2, 3, 4])

In [ ]:
arr[-1]

10

In [ ]:
arr[-2]

9

### Broadcasting

In [ ]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:
arr[0:5] = 100
print(arr)

[100 100 100 100 100   5   6   7   8   9  10]

In [ ]:
arr = np.arange(0,11)

In [ ]:
slice_arr = arr[0:6]
print(slice_arr)

[0 1 2 3 4 5]

In [ ]:
#change values in my slice variable 슬라이싱
slice_arr[:] = 99
print(slice_arr)

[99 99 99 99 99 99]

In [ ]:
arr

array([99, 99, 99, 99, 99, 99,  6,  7,  8,  9, 10])

In [ ]:
# ex1) why do you think it changed arr with slice_arr? 왜 slice_arr로 바뀌었다고 생각하는가?

arr_copy = arr.copy()

In [ ]:
# ex2) you have to create the variable 'matrix' will contain the number form 1 to 49 this is a matrix of 7x7
# 변수 '매트릭스'는 1부터 49까지의 숫자를 포함하는 변수이다. 이 행렬은 7x7 행렬입니다.

In [ ]:
arr = np.arange(1,50)
print(arr.reshape(7,7))

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14]
 [15 16 17 18 19 20 21]
 [22 23 24 25 26 27 28]
 [29 30 31 32 33 34 35]
 [36 37 38 39 40 41 42]
 [43 44 45 46 47 48 49]]

In [ ]:
arr = np.arange(16,50)
print(arr.reshape(6,5))

ValueError: ignored

In [ ]:
#교수님
matrix =np.arange(1,50).reshape(7,7)
print(matrix)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14]
 [15 16 17 18 19 20 21]
 [22 23 24 25 26 27 28]
 [29 30 31 32 33 34 35]
 [36 37 38 39 40 41 42]
 [43 44 45 46 47 48 49]]

### Indexing in 2D arrays

In [ ]:
# arr_2d[row][col] = arr_2d[row,col] 행,열

In [ ]:
arr_2d = np.array(([5,10,15],[20,25,30],[35,40,45]))
print(arr_2d)

[[ 5 10 15]
 [20 25 30]
 [35 40 45]]

In [ ]:
arr_2d.shape

(3, 3)

In [ ]:
#indexing a row
arr_2d[0]

array([ 5, 10, 15])

In [ ]:
arr_2d[1]

array([20, 25, 30])

In [ ]:
#Get an individual element
#arr_2d[row][col]
arr_2d[1][0]

20

In [ ]:
#arr_2d[row, col]
arr_2d[1,0]

20

In [ ]:
print(arr_2d)

[[ 5 10 15]
 [20 25 30]
 [35 40 45]]

In [ ]:
# 2-d array slicing
# get a (2,2) matrix from the top right corner of arr_2d (ar_2d의 오른쪽 상단 모서리에서 (2,2) 행렬을 가져옵니다)
arr_2d[:2]

array([[ 5, 10, 15],
       [20, 25, 30]])

In [ ]:
arr_2d[:2,1]

array([10, 25])

In [ ]:
arr_2d[:2,1:]

array([[10, 15],
       [25, 30]])

In [ ]:
#bottom row
arr_2d[2]

array([35, 40, 45])

In [ ]:
arr_2d[2,:]

array([35, 40, 45])

In [ ]:
#bottom left corner (2,2)

arr_2d[1:,:2]

array([[20, 25],
       [35, 40]])

In [ ]:
#top row

In [ ]:
arr_2d[0]

array([ 5, 10, 15])

In [ ]:
print(matrix)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14]
 [15 16 17 18 19 20 21]
 [22 23 24 25 26 27 28]
 [29 30 31 32 33 34 35]
 [36 37 38 39 40 41 42]
 [43 44 45 46 47 48 49]]

In [ ]:
matrix =np.arange(1,50).reshape(7,7)
print(matrix[2:,1:])

[[16 17 18 19 20 21]
 [23 24 25 26 27 28]
 [30 31 32 33 34 35]
 [37 38 39 40 41 42]
 [44 45 46 47 48 49]]

In [ ]:
#ex3) from variable 'matrix' get bottom right corner (5,6) use index slicing 가변 '매트릭스'에서 오른쪽 하단 모서리(5,6)를 구한다. 
matrix =np.arange(1,50).reshape(7,7)
print(matrix[6,6])

49

In [ ]:
#4교수님
matrix[3,4]

26

In [ ]:
#ex4) get value 26 from variable 'matrix' 변수 '매트릭스'에서 값 26을 얻는다.
print(matrix[3,4])

26

In [ ]:
#교수님
print(matrix[:3,1])

[ 2  9 16]

In [ ]:
#ex5) get the following array from the variable matrix 변수 행렬에서 다음 배열을 가져옵니다 2,9,16
print(matrix[:3,1].reshape(3,1)) #reshape은 열을 나눠준다

[[ 2]
 [ 9]
 [16]]

In [ ]:
matrix[:3]

In [ ]:
#ex6) get the following 2-d array from matrix 행렬에서 다음의 2-d 배열을 구하다
print(matrix[3:5])

[[22 23 24 25 26 27 28]
 [29 30 31 32 33 34 35]]

### Fancy indexing

In [ ]:
arr2d = np.zeros((10,10))
print(arr2d)

[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

In [ ]:
arr2d.shape[1]

10

In [ ]:
for i in range(arr2d.shape[0]):
  arr2d[i] = i

print(arr2d)

[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [2. 2. 2. 2. 2. 2. 2. 2. 2. 2.]
 [3. 3. 3. 3. 3. 3. 3. 3. 3. 3.]
 [4. 4. 4. 4. 4. 4. 4. 4. 4. 4.]
 [5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]
 [6. 6. 6. 6. 6. 6. 6. 6. 6. 6.]
 [7. 7. 7. 7. 7. 7. 7. 7. 7. 7.]
 [8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]
 [9. 9. 9. 9. 9. 9. 9. 9. 9. 9.]]

In [ ]:
arr2d[[2,4,6,8]]

array([[2., 2., 2., 2., 2., 2., 2., 2., 2., 2.],
       [4., 4., 4., 4., 4., 4., 4., 4., 4., 4.],
       [6., 6., 6., 6., 6., 6., 6., 6., 6., 6.],
       [8., 8., 8., 8., 8., 8., 8., 8., 8., 8.]])

In [ ]:
#any order
arr2d[[6,4,2,7,]]

array([[6., 6., 6., 6., 6., 6., 6., 6., 6., 6.],
       [4., 4., 4., 4., 4., 4., 4., 4., 4., 4.],
       [2., 2., 2., 2., 2., 2., 2., 2., 2., 2.],
       [7., 7., 7., 7., 7., 7., 7., 7., 7., 7.]])

### Selection

In [ ]:
arr = np.arange(1,11)
print(arr)

[ 1  2  3  4  5  6  7  8  9 10]

In [ ]:
arr > 4

array([False, False, False, False,  True,  True,  True,  True,  True,
        True])

In [ ]:
bool_arr = arr > 4

In [ ]:
arr[bool_arr]

array([ 5,  6,  7,  8,  9, 10])

In [ ]:
arr[arr>2]

array([ 3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:
x = 5
arr[arr>x]

array([ 6,  7,  8,  9, 10])

## Arithmetic 연산

In [ ]:
arr = np.arange(0,10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
arr * arr

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])

In [ ]:
arr - arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [ ]:
arr / arr

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

array([nan,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [ ]:
1/arr

## Universal Array Functions

In [ ]:
#take square roots
np.array(arr)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
#calculate exponetial (e^)
np.exp(arr)

array([1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01,
       5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03])

In [ ]:
np.max(arr) # same as arr.max()

9

In [ ]:
np.min(arr)

0

In [ ]:
np.sin(arr)

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
       -0.95892427, -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849])

In [ ]:
np.log(arr)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458])

In [ ]:
# 2주뒤에

# ex8) Get the sum (addition) of all the values in the 'matrix' veriable

In [ ]:
# ex9) Get the standard deviation of the values in the 'matrix' variable

In [ ]:
# ex10) get the sum of all the colums in the 'matrix' variable

### Series

In [3]:
import numpy as np
import pandas as pd

###Creating a Series

In [4]:
labels = ['a','b','c'] #list of labels
my_list = [10,20,30] #list
arr = np.array([10,20,30]) #numpy array
d = {'a':10, 'b':20, 'c':30}

In [5]:
#using lists
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data=my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [9]:
#using Numpy arrays
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [11]:
#using Dictionary
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Data in a Series

In [13]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [14]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

### Using an index

In [17]:
ser1 = pd.Series([1,2,3,4,], index=['Incheon','Suwon','Seoul','Busan'])
print(ser1)

Incheon    1
Suwon      2
Seoul      3
Busan      4
dtype: int64

In [21]:
ser2 = pd.Series([1,2,5,4], index = ['Incheon','Suwon','Seoul','Busan'])
print(ser2)

Incheon    1
Suwon      2
Seoul      5
Busan      4
dtype: int64

In [22]:
ser1['Incheon']

1

In [23]:
ser1 + ser2

Incheon    2
Suwon      4
Seoul      8
Busan      8
dtype: int64

### Data Frames

In [26]:
from numpy.random import randn
np.random.seed(101)

In [27]:
df = pd.DataFrame(randn(5,4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split()  )

In [29]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

### Selection and Indexing

In [30]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [32]:
#Pass a list of col names

df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [34]:
#I don't recommend this:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [35]:
type(df['W'])

pandas.core.series.Series

In [36]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [38]:
#create a new column
df['new'] = df['W'] + df['Y']

In [39]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [40]:
#removing columns
df.drop('new', axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [41]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [42]:
df.drop('new',axis=1,inplace=True)

In [43]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [44]:
df.drop('E', axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [45]:
#Selecting a row
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [47]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [49]:
#selecting a subset of rows and columns
df.loc['B','Y']

-0.8480769834036315

In [50]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

### Conditional Selection

In [51]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [52]:
df > 0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [53]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [55]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [56]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [58]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [60]:
df[(df['W']>0) & (df['Y']>1) ]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

###More about index

In [62]:
#Reset index to a default values 0,1,2,3

df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [63]:
newindex = 'Incheon Seoul Busan Jeju Suwon' .split()

In [64]:
df['Cities'] = newindex

In [65]:
df

          W         X         Y         Z   Cities
A  2.706850  0.628133  0.907969  0.503826  Incheon
B  0.651118 -0.319318 -0.848077  0.605965    Seoul
C -2.018168  0.740122  0.528813 -0.589001    Busan
D  0.188695 -0.758872 -0.933237  0.955057     Jeju
E  0.190794  1.978757  2.605967  0.683509    Suwon

In [66]:
df.set_index('Cities')

                W         X         Y         Z
Cities
Incheon  2.706850  0.628133  0.907969  0.503826
Seoul    0.651118 -0.319318 -0.848077  0.605965
Busan   -2.018168  0.740122  0.528813 -0.589001
Jeju     0.188695 -0.758872 -0.933237  0.955057
Suwon    0.190794  1.978757  2.605967  0.683509

In [67]:
df

          W         X         Y         Z   Cities
A  2.706850  0.628133  0.907969  0.503826  Incheon
B  0.651118 -0.319318 -0.848077  0.605965    Seoul
C -2.018168  0.740122  0.528813 -0.589001    Busan
D  0.188695 -0.758872 -0.933237  0.955057     Jeju
E  0.190794  1.978757  2.605967  0.683509    Suwon

In [68]:
df.set_index('Cities', inplace=True)

In [69]:
df

                W         X         Y         Z
Cities
Incheon  2.706850  0.628133  0.907969  0.503826
Seoul    0.651118 -0.319318 -0.848077  0.605965
Busan   -2.018168  0.740122  0.528813 -0.589001
Jeju     0.188695 -0.758872 -0.933237  0.955057
Suwon    0.190794  1.978757  2.605967  0.683509

### Multi-Index and Index Hierachy

In [72]:
#Index Levels

outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [73]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [77]:
df = pd.DataFrame(np.random.randn(6,2), index = hier_index, columns = ['A','B'])
df

             A         B
G1 1 -0.497104 -0.754070
   2 -0.943406  0.484752
   3 -0.116773  1.901755
G2 1  0.238127  1.996652
   2 -0.993263  0.196800
   3 -1.136645  0.000366

In [78]:
df.loc['G1']

          A         B
1 -0.497104 -0.754070
2 -0.943406  0.484752
3 -0.116773  1.901755

In [79]:
df.loc['G1'].loc[1]

A   -0.497104
B   -0.754070
Name: 1, dtype: float64

In [80]:
df.index.names = ['Group', 'Num']

In [81]:
df

                  A         B
Group Num
G1    1   -0.497104 -0.754070
      2   -0.943406  0.484752
      3   -0.116773  1.901755
G2    1    0.238127  1.996652
      2   -0.993263  0.196800
      3   -1.136645  0.000366

### Missing Data

In [89]:
df = pd.DataFrame({ 'A':[1,2,np.nan],
                    'B':[5,np.nan,np.nan],
                    'C':[1,2,3]
                   })

In [90]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [91]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [92]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [93]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [94]:
df.fillna(value='Fill Value')

            A           B  C
0           1           5  1
1           2  Fill Value  2
2  Fill Value  Fill Value  3

In [95]:
df['A'].fillna(value=df['A'])

0    1.0
1    2.0
2    NaN
Name: A, dtype: float64

In [97]:
df['A'].fillna(value=df['A'].mean()) #(1+2)/2

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

### Groupby

In [106]:
data = {'Continent':['Asia','Asia','Europe','Europe','America','America'],
        'Country':['Singapore','Korea','Spain','France','USA','Guatemala'],
        'Energy_tw': [120,340,240,124,350,100]}

In [107]:
df = pd.DataFrame(data)

In [108]:
df

  Continent    Country  Energy_tw
0      Asia  Singapore        120
1      Asia      Korea        340
2    Europe      Spain        240
3    Europe     France        124
4   America        USA        350
5   America  Guatemala        100

In [109]:
df.groupby('Continent')

In [110]:
by_cont =df.groupby('Continent')

In [111]:
print(by_cont)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f2f3c93b150>

In [112]:
print(by_cont)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f2f3c93b150>

In [113]:
by_cont.mean()

           Energy_tw
Continent
America          225
Asia             230
Europe           182

In [114]:
by_cont.std()

            Energy_tw
Continent
America    176.776695
Asia       155.563492
Europe      82.024387

In [115]:
by_cont.max()

             Country  Energy_tw
Continent
America          USA        350
Asia       Singapore        340
Europe         Spain        240

In [116]:
by_cont.count()

           Country  Energy_tw
Continent
America          2          2
Asia             2          2
Europe           2          2

In [117]:
by_cont.describe()

          Energy_tw
              count   mean         std    min    25%    50%    75%    max
Continent
America         2.0  225.0  176.776695  100.0  162.5  225.0  287.5  350.0
Asia            2.0  230.0  155.563492  120.0  175.0  230.0  285.0  340.0
Europe          2.0  182.0   82.024387  124.0  153.0  182.0  211.0  240.0

In [118]:
by_cont.describe().transpose()

Continent           America        Asia      Europe
Energy_tw count    2.000000    2.000000    2.000000
          mean   225.000000  230.000000  182.000000
          std    176.776695  155.563492   82.024387
          min    100.000000  120.000000  124.000000
          25%    162.500000  175.000000  153.000000
          50%    225.000000  230.000000  182.000000
          75%    287.500000  285.000000  211.000000
          max    350.000000  340.000000  240.000000

In [119]:
by_cont.describe().transpose()['Asia']

Energy_tw  count      2.000000
           mean     230.000000
           std      155.563492
           min      120.000000
           25%      175.000000
           50%      230.000000
           75%      285.000000
           max      340.000000
Name: Asia, dtype: float64

###Merging, Joining, and Concatenating

In [123]:
df1 = pd.DataFrame({'A':['A0','A1','A2','A3'],
                   'B':['B0','B1','B2','B3'],
                   'C':['C0','C1','C2','C3'],
                   'D':['D0','D1','D2','D3']},
                    index = [0,1,2,3])

In [125]:
df2 = pd.DataFrame({'A':['A4','A5','A6','A7'],
                   'B':['B4','B5','B6','B7'],
                   'C':['C4','C5','C6','C7'],
                   'D':['D4','D5','D6','D7']},
                    index = [4,5,6,7])

In [126]:
df3 = pd.DataFrame({'A':['A8','A9','A10','A11'],
                   'B':['B8','B9','B10','B11'],
                   'C':['C8','C9','C10','C11'],
                   'D':['D8','D9','D10','D11']},
                    index = [8,9,10,11])

In [127]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [128]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [129]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

###Concatenation

In [131]:
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [134]:
pd.concat([df1,df2,df3], axis = 1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [135]:
### Data input and output